.filter__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 20px 30px;
    font-size: 28px;
    font-weight: 500;
}

.filter__input {
    display: block;
    width: 400px;
    height: 40px;
    margin: 12px 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.input:hover,
.input:focus {
    outline: 1px solid #5d8d94;
}